RAG.json
{
  "name": "My workflow 5",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1-YE_D6YrVhwTCgG8j36bz5C3gVBItiq6",
          "mode": "list",
          "cachedResultName": "rag",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1-YE_D6YrVhwTCgG8j36bz5C3gVBItiq6"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        -620,
        -80
      ],
      "id": "dd1074ea-6197-4c01-af8b-59147bf5f8a5",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pxOhCKcSA9ea9i8J",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        -460,
        -80
      ],
      "id": "9b4d9204-6324-4998-8a32-8bd6c3617e63",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "pxOhCKcSA9ea9i8J",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "testing",
          "mode": "list",
          "cachedResultName": "testing"
        },
        "options": {
          "pineconeNamespace": "default"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -300,
        -80
      ],
      "id": "c25c845c-af07-4340-a86a-8ce7a8857a23",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "wko7LIcy8KAF0OzO",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        -320,
        100
      ],
      "id": "966d86f5-8d2d-4b2d-b18d-2799c2c53c96",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "f0bsEofCjxgQTv98",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        -180,
        120
      ],
      "id": "99fe4c35-bf7a-4081-b558-d30d83c01838",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        360,
        -80
      ],
      "id": "5f09bdad-50dc-49bb-aeb8-b2f3831ffc80",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        140,
        -80
      ],
      "id": "cef48221-3e5b-475d-b907-9607506aa020",
      "name": "When chat message received",
      "webhookId": "504f84c9-9ec1-4771-82ef-98c268e90c8a"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        460,
        160
      ],
      "id": "e3609278-0d82-49bd-961a-0895a3a4e05e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        320,
        140
      ],
      "id": "c3f8bde0-ef13-4e2d-84dd-9e413cc6e349",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "f0bsEofCjxgQTv98",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "this is for knowledge based of railway track defects, their reasons and solution",
        "pineconeIndex": {
          "__rl": true,
          "value": "testing",
          "mode": "list",
          "cachedResultName": "testing"
        },
        "includeDocumentMetadata": false,
        "options": {
          "pineconeNamespace": "default"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        600,
        80
      ],
      "id": "9ed27338-0043-43a9-8de2-f26ae78abb7e",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "wko7LIcy8KAF0OzO",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "dimensions": 1024
        }
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        660,
        240
      ],
      "id": "055eb5e7-7030-4041-9f79-30b664c17516",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "f0bsEofCjxgQTv98",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b2e71d91-d7d0-4be1-ad54-76b481200d70",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3ce352a81caf5a05dd7bdcef03235b26e0ea9e78c46b09163d23a2828d165cc0"
  },
  "id": "Hdh3ONInmxwTKM2A",
  "tags": []
}