web_scrapping.json
{
  "name": "My workflow 7",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -220,
        -120
      ],
      "id": "d3bd3d27-de69-47c4-b382-5489f63f6484",
      "name": "When chat message received",
      "webhookId": "05b7378e-f29c-46a8-bb76-8523ba9b1dde"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a helpful assistant. Scrape and summarize the data provided in the webpage.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -80,
        -120
      ],
      "id": "beacd5ac-2b66-4a2b-975d-096de8546c7e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -100,
        80
      ],
      "id": "bd5d71f2-5c06-473d-9c7d-b201a601466d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "f0bsEofCjxgQTv98",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.firecrawl.dev/v1/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer fc-4e8a51da9d4b450d9d62aa5b9e3f98a7"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"{{ $json.chatInput }}\",\n  \"formats\": [\"markdown\", \"html\"]\n}\n\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        80,
        80
      ],
      "id": "ad0f00c1-de9f-4690-ad6b-ed214e8f89eb",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "12d6ed65-a8f7-4a76-8ff7-864e89a0a8c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3ce352a81caf5a05dd7bdcef03235b26e0ea9e78c46b09163d23a2828d165cc0"
  },
  "id": "CRcA1U60yVkE2m3z",
  "tags": []
}